{% extends 'teamiota/normalUser/basePage.html' %}
{% block title %}Login{% endblock %}
{% block body_block %}
{% load i18n widget_tweaks %}
<div class="modal" id="signInModal">
<div class="modal-dialog modal-md" role="dialog">
	<div class="modal-content">
		<div class="container-fluid">
		<div class="modal-header">
			<h4 class="modal-title" style="text-align:center;">Login to Employee Recognition</h4>
		</div>
			{# source for reusable form code: http://stackoverflow.com/questions/8474409/django-forms-and-bootstrap-css-classes-and-divs #}
			<form class="form-horizontal" role="form" action="{% url 'normalUserLogin' %}" method="post">
			    {% csrf_token %}
			    {% for field in form %}
			        {% if field.errors %}
			            <div class="form-group has-error">
			            	<div class="col-sm-2 col-md-2 col-lg-2"></div>
			                <label class="col-sm-2 col-md-2 col-lg-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
			                <div class="col-sm-6 col-md-6 col-lg-6">
			                    {{ field|attr:"class:form-control" }}
			                    <span class="help-block">
			                        {% for error in  field.errors %}{{ error }}{% endfor %}
			                    </span>
			                </div>
			                <div class="col-sm-2 col-md-2 col-lg-2"></div>
			            </div>
			        {% else %}
				<div class="form-group container-fluid">
					<div class="col-sm-2 col-md-2 col-lg-2"></div>
	                <label class="col-sm-2 col-md-2 col-lg-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
	                <div class="col-sm-6 col-md-6 col-lg-6">
	                    {{ field|attr:"class:form-control" }}
	                    {% if field.help_text %}
	                        <p class="help-block"><small>{{ field.help_text }}</small></p>
	                    {% endif %}
	                </div>
	                <div class="col-sm-2 col-md-2 col-lg-2"></div>
	            </div>
		        {% endif %}
		    {% endfor %}
	        <div class="modal-footer">
				<button type="submit" value="Submit" name='signInForm' class="btn btn-primary">Login</button>
			</div>
		</form>
		<a href="{% url 'password_reset' %}">Reset Password</a>
	</div>
</div>
</div>
<script>$(window).load(function(){
	//$('#signInModal').modal('show');
	// src:stackoverflow.com/questions/9894339/disallow-twitter-bootstrap-modal-
	// window-from-closinghttp://stackoverflow.com/questions/9894339/disallow-
	// twitter-bootstrap-modal-window-from-closing
	$('#signInModal').modal({
  		backdrop: 'static',
  		keyboard: false,
  		show: true});
});
</script>
{% endblock %}